<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <display-name>Lendock</display-name>
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <filter>
        <filter-name>CookieFilter</filter-name>
        <filter-class>com.lendock.business.CookieFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AccessFilter</filter-name>
        <filter-class>com.lendock.business.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CookieFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AccessFilter</filter-name>
        <url-pattern>/home/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>NewUser</servlet-name>
        <servlet-class>com.lendock.user.NewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.lendock.business.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>com.lendock.user.UpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewRequest</servlet-name>
        <servlet-class>com.lendock.request.ReviewRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewCar</servlet-name>
        <servlet-class>com.lendock.car.NewCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewListing</servlet-name>
        <servlet-class>com.lendock.listing.NewListing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllListings</servlet-name>
        <servlet-class>com.lendock.listing.AllListings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MyCars</servlet-name>
        <servlet-class>com.lendock.car.MyCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllMakes</servlet-name>
        <servlet-class>com.lendock.car.AllMakes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllModels</servlet-name>
        <servlet-class>com.lendock.car.AllModels</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllMyCars</servlet-name>
        <servlet-class>com.lendock.car.AllMyCars</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchResult</servlet-name>
        <servlet-class>com.lendock.business.SearchResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListing</servlet-name>
        <servlet-class>com.lendock.listing.GetListing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangeListingStatus</servlet-name>
        <servlet-class>com.lendock.listing.ChangeListingStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.lendock.business.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewRequest</servlet-name>
        <servlet-class>com.lendock.request.NewRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAllRequests</servlet-name>
        <servlet-class>com.lendock.request.GetAllRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRequest</servlet-name>
        <servlet-class>com.lendock.request.GetRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMessages</servlet-name>
        <servlet-class>com.lendock.message.GetMessages</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestStatus</servlet-name>
        <servlet-class>com.lendock.request.RequestStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewMessage</servlet-name>
        <servlet-class>com.lendock.message.NewMessage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOutgoingRequests</servlet-name>
        <servlet-class>com.lendock.request.GetOutgoingRequests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOutgoingRequest</servlet-name>
        <servlet-class>com.lendock.request.GetOutgoingRequest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Test</servlet-name>
        <servlet-class>com.lendock.car.Test</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewWish</servlet-name>
        <servlet-class>com.lendock.wishlist.NewWish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetWishlist</servlet-name>
        <servlet-class>com.lendock.wishlist.GetWishlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveWish</servlet-name>
        <servlet-class>com.lendock.wishlist.RemoveWish</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetAlerts</servlet-name>
        <servlet-class>com.lendock.business.GetAlerts</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UnavailableDates</servlet-name>
        <servlet-class>com.lendock.business.UnavailableDates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewReview</servlet-name>
        <servlet-class>com.lendock.review.NewReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetReviews</servlet-name>
        <servlet-class>com.lendock.review.GetReviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>com.lendock.user.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetListings</servlet-name>
        <servlet-class>com.lendock.listing.GetListings</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetCar</servlet-name>
        <servlet-class>com.lendock.car.GetCar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateListing</servlet-name>
        <servlet-class>com.lendock.listing.UpdateListing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassword</servlet-name>
        <servlet-class>com.lendock.user.UpdatePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPassword</servlet-name>
        <servlet-class>com.lendock.business.ForgotPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCar</servlet-name>
        <servlet-class>com.lendock.car.UpdateCar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewUser</servlet-name>
        <url-pattern>/NewUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewRequest</servlet-name>
        <url-pattern>/ReviewRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewCar</servlet-name>
        <url-pattern>/NewCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewListing</servlet-name>
        <url-pattern>/NewListing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllListings</servlet-name>
        <url-pattern>/AllListings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MyCars</servlet-name>
        <url-pattern>/MyCars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllMakes</servlet-name>
        <url-pattern>/AllMakes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllModels</servlet-name>
        <url-pattern>/AllModels</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllMyCars</servlet-name>
        <url-pattern>/AllMyCars</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchResult</servlet-name>
        <url-pattern>/SearchResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListing</servlet-name>
        <url-pattern>/GetListing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangeListingStatus</servlet-name>
        <url-pattern>/ChangeListingStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewRequest</servlet-name>
        <url-pattern>/NewRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAllRequests</servlet-name>
        <url-pattern>/GetAllRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRequest</servlet-name>
        <url-pattern>/GetRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMessages</servlet-name>
        <url-pattern>/GetMessages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestStatus</servlet-name>
        <url-pattern>/RequestStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewMessage</servlet-name>
        <url-pattern>/NewMessage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOutgoingRequests</servlet-name>
        <url-pattern>/GetOutgoingRequests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOutgoingRequest</servlet-name>
        <url-pattern>/GetOutgoingRequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Test</servlet-name>
        <url-pattern>/Test</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewWish</servlet-name>
        <url-pattern>/NewWish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetWishlist</servlet-name>
        <url-pattern>/GetWishlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveWish</servlet-name>
        <url-pattern>/RemoveWish</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetAlerts</servlet-name>
        <url-pattern>/GetAlerts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UnavailableDates</servlet-name>
        <url-pattern>/UnavailableDates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewReview</servlet-name>
        <url-pattern>/NewReview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetReviews</servlet-name>
        <url-pattern>/GetReviews</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetListings</servlet-name>
        <url-pattern>/GetListings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetCar</servlet-name>
        <url-pattern>/GetCar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateListing</servlet-name>
        <url-pattern>/UpdateListing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassword</servlet-name>
        <url-pattern>/UpdatePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPassword</servlet-name>
        <url-pattern>/ForgotPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCar</servlet-name>
        <url-pattern>/UpdateCar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
